{% extends "base.html" %}

{% block page_content %}
    <h2 class="page-header">归档</h2>
    {% for post in posts %}
        <h3>{{ post[0] }}</h3>
        <div class="time-vertical">
            {% for p in post[1] %}
                <div class="archive-body">
                    <div class="archive-meta">{{ moment(p.timestamp).format('MM-DD') }}</div>
                    <div class="archive-body-link"><a href="{{ url_for('main.post_detail', id=p.id) }}">{{ p.title }}</a></div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}